* {
  background-color: rgba(255, 237, 208, 0);
  font-family: "Source Code Pro", monospace;
  margin: 0;
}

.toggle_btn {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid #000;
  appearance: none;
  cursor: pointer;
  margin-right: 10px; /* Space between toggle_btn and catalog_btn_txt */
}

.toggle_btn:checked {
  background-color: #000;
  border: 1px solid #000;
}

/* Catalog and catalog button styling */
.catalog {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}


/* MOBILE */


.catalog_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  color: #000;
  font-size: 15px;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.063);
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0);
  padding: 20px 15px;
  margin: 2px;
  width: 450px;
  height: 50px;
  transition-duration: 0.2s;
}



.catalog_btn:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.135);
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0.098);
  transform: scale(1.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.hovered {
  background-color: rgba(255, 255, 255, 0.135);
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0.098);
  transform: scale(1.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.catalog_btn:disabled {
  background-color: rgba(255, 53, 53, 0);
  opacity: 0.2;
}

.gay {
  color: #fff;
  background-color: #000;
}

.btn_n_text_n_category {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements within btn_n_text_n_category */
  background-color: transparent;
}

.catalog_btn_txt {
  flex: 1;
  text-align: left; /* Align text to the left */
  background-color: transparent;
}

.catalog_btn_category {
  background-color: transparent;
  margin-right: 10px; /* Space between catalog_btn_category and catalog_btn_year */
}

.catalog_btn_year {
  font-weight: lighter;
  opacity: 60%;
  background-color: transparent;
}

.catalog_and_content {
  display: flex;
  gap: 30px;
}

.content_section {
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 209, 255, 0);
  z-index: -100;
}

.content_canvas {
  width: 470px;
  height: 350px;
  transform: scale(1.3);
  background-color: rgba(255, 0, 0, 0);
  border: none;
  border-radius: 39px;
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0.432);
  margin: clamp(0px, 0px, 0px), clamp(0px, 0px, 0px);
  position: fixed;
  left: 40%;
  top: 30vh;
  z-index: -99;
  opacity: 1;
  transition: opacity 0.2s, transform 0.2s;
  overflow: hidden;
}

.content_canvas_description {
  text-align: center;
  background-color: transparent;
  position: relative;
  top: 850px;
}

@media (max-width:800px){
  .catalog {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
  }
  .catalog_btn{
    width: 100vw;
  }

}